<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

<div class="container">

<h1>About Author</h1>

<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti minima veniam quia explicabo doloribus, perferendis aliquid eum ipsa autem voluptates!</p>
<p>&copy; Ana-Maria 2020</p>

<a href="{% url 'home' %}" class="btn btn-success">Back To Home Page</a>

</div>